 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Div and Span</title>
    <style>
      .bluebox {
        background-color: #3b5998;
        color: white;
        height: 100px;
        width: auto;
      }
      .yellowbox {
        background-color: rgb(222, 224, 85);
        height: 100px;
        width: auto;
      }
      .greenbox {
        background-color: #31af37;
        height: 100px;
        width: auto;
      }
      .great {
        background-color: #5a3279;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <button id="changeFacebook">Change Facebook</button>
    <div class="bluebox" id="facebook">
      <p>Facebook is <span class="great">great</span>.</p>
    </div>

    <div class="yellowbox" id="apple"><p>Apple.</p></div>
    <div class="greenbox" id="microsoft"><p>Microsoft.</p></div>

    <script>
      $(function() {
        
      });
    </script>
  </body>
</html>